.auth-content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify_content: center;
    align-items: center;
    background: linear-gradient(to right, #1e3c72, #2a5298); /* Exemplo de cor */
}

.auth-modal {
    background-color: #FFF;
    width: 350px;
    padding: 35px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.auth-modal input {
    margin-bottom: 15px;
    width: 100%;
}