:root {
  --bg-dark: #1a2f3a;
  --logo-height: 80px;
  --header-height: 80px;
  --menu-top-height: 70px;
  --aside-width: 225px;
  --footer-height: 40px;

  --shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1), 0 2px 49px 0 rgba(0, 0, 0, 0.06);
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.app {
  margin: 0;
  display: grid;
  grid-template-columns: var(--aside-width) 1fr;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  grid-template-areas:
    "logo header"
    "menu content"
    "menu footer";
  height: 100vh;
  width: 100vw;
  background-color: blanchedalmond;

  header.header {
    grid-area: header;
  }

  nav.menu {
    grid-area: menu;
    background-color: aqua;
  }

  main.content {
    grid-area: content;
    background-color: #1a2f3a;
  }

  footer.footer {
    grid-area: footer;
    background-color: brown;
  }



}
